---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi 👋 </h1>
			<p>
				Welcome to my <a href="https://astro.build/">Astro 🚀</a> blog starter template. This
				template was designed to be a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with <code>Astro</code>.
			</p>
			<p>
				This template comes with a few integrations already like <code>Tailwind CSS</code>, <code>Markdown X (MDX)</code>  support and sitemap and rss generation. 
			</p>
			


<p>This template includes:</p>

<ul>

<li><strong>Blazing fast</strong> - Amazing performance scores out of the box</li>

<li><strong>Ultra low dependency</strong> - Built on Astro for minimal bloat</li>  

<li><strong>Simple code</strong> - No complex pathways or millions of components</li>

<li><strong>Simple configuration</strong> - Customize as needed with easy config</li>

<li><strong>Basic functionality included</strong> - Built in RSS, sitemap, SEO, and more</li>

<li><strong>Easy to customize</strong> - Refactor and modify code as required</li>

<li><strong>Latest Astro</strong> - Upgraded to Astro 4.0.9</li>

<li><strong>Tailwind CSS</strong> - Or use your own CSS framework</li>

<li><strong>Image optimization</strong> - Leverage Astro/Image for best practices</li>

<li><strong>RSS/Sitemap</strong> - Out of the box with Astro/rss and Astro/sitemap</li>  

<li><strong>Free!</strong> - 100% free to use and modify under the MIT licence</li>

</ul>

<p>If you find this template useful, please support continued development by <a href="https://buymeacoffee.com/sureshkhirwadkar">buying me a coffee ☕️</a>.</p>

			
			<p>
				Looking for more templates? Maybe you need a finished, polished blog template you can use to get your site going within a few minutes? Check out <a
					href="https://sureshkhirwadkar.dev"
					>my other work
				</a> on my dev website.
			</p>
		</main>
		<Footer />
	</body>
</html>
